{% extends 'layout.twig' %}
{% block contenido %}
<h1>Hola usuarios</h1>
<hr>
<p>{{ message }}</p>
<hr>
<form action="/users/add" method="post">
    <input type="text" name="usuario" placeholder="ej: usuario">
    <input type="text" name="email" placeholder="ej: example@example.com">
    <input type="text" name="password" placeholder="contraseña">
    <input type="submit" value="guardar usuario">
</form>
{% endblock %}